body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Homepage */
.Page {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 100px;
}

.introduction {
  margin-top: 5%;
  width: 100%;
  min-height: 500px;
}

/* Lore */
.sideMenu {
  margin-top: 1%;
  height: 100%;
  width: 30%;
  margin-left: 1%;
}

.sideMenu2 {
  margin-top: 1%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 100%;
  width: 95%;
}

.parralax-container {
  z-index: -1;
  width: 100%;
  min-height: 750px;
  height: 75%;
  margin: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rules-excerpt-container:hover {
  width: 100%;
  margin: auto;
  background-color: #000000;
  transition: background-color 0.5s ease;
}

.card-text {
  color: white;
}

.CardContainer {
  display: flex;
  margin: auto;
  width: 75%;
}

.centered-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 1%;
  border: 2px solid gray;
  border-radius: 25px;
}

.navbar-toggler,
.navbar-toggler-icon {
  color: hotpink
}

@media (min-width: 300px) {
  .centered-overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 1%;
    border: 2px solid gray;
    border-radius: 25px;
  }

  .navbar-nav {
    margin: auto;
  }

  .entry {
    width: 100%;
    margin: auto;
    background-color: gray;
    font-size: 2vh;
    height: 35px;
    color: white;
  }

  .excerpt-text,
  .rules-text {
    color: white;
    width: 80%;
    margin: auto;
    font-size: 2.5vh;
  }

  .nav-item {
    width: 100%;
    margin: auto;
    font-size: large;
  }

  .navbar-brand {
    margin-left: 1%;
    color: white;
    font-size: 5vh;
  }

  .navbar {
    width: 100%;
    font-size: 5vh;
  }

  .nav-link {
    font-size: 3vh;
  }
}

@media (min-width: 750px) {
  .centered-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 1%;
    border: 2px solid gray;
    border-radius: 25px;
  }

  .navbar-nav {
    margin-left: 12.5%;
  }

  .entry {
    width: 100%;
    margin: auto;
    background-color: gray;
    font-size: 2.5vh;
  }

  .excerpt-text,
  .rules-text {
    color: white;
    width: 80%;
    margin: auto;
    font-size: 2.5vh;
  }

  .nav-item {
    width: 20vh;
    margin: auto;
    font-size: large;

  }

  .navbar-brand {
    margin-left: 1%;
    color: white;
    font-size: 5vh;
  }

  .navbar {
    width: 100%;
    font-size: 5vh;
  }

  .nav-link {
    font-size: 2vh;
  }
}

.entry:hover {
  width: 100%;
  margin: auto;
  background-color: hotpink;
  transition: background-color 0.25s ease;
}