body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

.drawer-css-only {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: white;
}

.drawer-css-only:target {
  transform: translateX(0);
}
